body {
    background-color: rgb(90, 209, 170);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border: 2px solid black;
    display: flex;
}
.box {
    display: inline-block;
    width: 60%;
    max-width: 600px;
    margin: 50px 50px 50px 50px;
    padding: 20px;
    border-radius: 15px;
    background-color: white;
}